################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LucasHelper/bin/Debug
/LucasHelper/obj
